@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root{
    --backgrounds: #f9f9ff;
    --primary: #212121;
    --secondary: #707FDA;
    --dark-yellow: #F5A200;
    --green: #4CAF50;
    --footer: #3F414E;
    --extra: #F5F5F5;
    --third-color: #757575;
    --extra-two: #E9F3EB;
    --extra-three: #E9EBF3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: var(--backgrounds);
}

.contain {
    width: 100%;
    padding-left: 0;
    position: relative;
    overflow: hidden;
}

.header-top {
    position: relative;
    height: 60px;
}

header {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    background-color: #fff;
}

.header-left {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-left .beta {
    align-self: flex-start;
    padding: 4px 4px;
}

.added {
    text-decoration: line-through;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 34px;
}

.img-header {
    position: relative;
}

.sent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sent .span {
    font-size: 14px;
    font-weight: 400;
}

.dark-light {
    width: 45px;
    height: 25px;
    background-color: #9397B2;
    border-radius: 13px;
    position: relative;

}




#check:checked~.sent .dark-light .dark-light-item {
    top: 2px;
    right: 2px;
    position: absolute;
}

#check:checked~.sent .dark-light {
    background-color: #4CAF50;
}

#check {
    display: none;
}

.green {
    position: relative;
    background-color: #4CAF50;
}



.dark-light-item {
    width: 21px;
    height: 21px;
    border-radius: 13px;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
}

.item-active {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 13px;
}

.img-header .ellipse {
    position: absolute;
    left: 58.33%;
    top: 16.67%;
    right: 16.67%;
    bottom: 58.33%;

}

.header-img {
    width: 40px;
    height: 40px;
    background-image: url("../templates/images/Ellipse\ 306.svg");
}

.navigation {
    width: 101px;
    /* height: 3161.3px; */
    height: 100%;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 101px;
    left: 0;
    top: 0;
    bottom: 0;
}



.navigation .menu-bars {
    width: 101px;
    height: 124px;
    padding: 64px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #707FDA;
    color: #f9f9ff;
    position: relative;
    border-bottom-right-radius: 10px;
    /* border-radius: 10px; */

}

.navigation .menu-cont {
    width: 101px;
    height: 100%;
    padding-top: 40px;
    background-color: #707FDA;
}

.navigation .menu-bar {
    width: 101px;
    height: 84px;
    padding: 20px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #707FDA;
    color: #f9f9ff;
    position: relative;

}

.navigation .active {
    width: 101px;
    height: 84px;
    padding: 20px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9ff;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: #000;
}

.navs .menu-bar .count {
    position: absolute;
    right: 30px;
    top: 10px;
}

.navs .menu-bar span {
    font-size: 14px;
    font-family: Roboto;
}

.navs .bottom-radius {
    border-top-right-radius: 10px;
}

.navigation .menu-bar .count {
    position: absolute;
    right: 30px;
    top: 10px;
}

.navigation .menu-bar span {
    font-size: 14px;
    font-family: Roboto;
}

.navigation .menu-bars span {
    font-size: 14px;
    font-family: Roboto;
}

.navigation .bottom-radius {
    border-top-right-radius: 10px;
}


.operation-request .explore {
    font-size: 16px;
    font-weight: 400;
}

.operation-request {
    width: 1239px;
    margin-left: 151px;
    padding: 40px 0 80px 0;
    background-color: #f9f9ff;
}

.operation-request h1 {
    font-family: Roboto;
    line-height: 42px;
    font-size: 36px;
}

.operation-request .filters {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.operation-request .filters select {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px;
    border: 1px solid #EDEDF7;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
}

.web img {
    padding-bottom: 1px;
}

.operation-request .filters .web {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid #EDEDF7;
    border-radius: 6px;
    outline: none;
    color: #fff;
    background-color: #000;

}


.operation-request span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    line-height: 42px;
}

.operation-request .carousel {
    width: 100%;
    margin-top: 0px;
}

.operation-request a {
    text-decoration: none;
}

.operation-request .carousel .link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.operation-request .carousel .linked {
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.operation-request .carousel .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}


.link .nav {
    display: flex;
    align-items: center;
}

.carousel .link span {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.carousel .link select {
    background: transparent;
    font-size: 16px;
    border: none;
    font-weight: 400;
    outline: none;
}

.operation-request .carousel .link h3 {
    font-size: 24px;
    font-weight: 700;
}

.grid-carousel {
    display: grid;
    grid-template-columns: repeat(4, 294.75px);
    gap: 20px;
    padding-top: 20px;
}

.grids {
    margin-top: 40px;
}

.carousel .cart {
    margin-top: 100px;
}

.box-img {
    width: 294.75px;
    height: 150px;
}

.grid-carousel .box {
    border-radius: 8px;
    height: 420px;
}

.box-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box .all-info {
    padding: 16px 16px 16px 16px;
    background-color: #fff;
    border-radius: 8px;
}


.pending {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
}

.pending .comment {
    width: 16px;
    height: 16px;
}

.user-services {
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pending span {
    font-size: 14px;
    font-weight: 500;
    color: #F5A200;
}

.users {
    font-family: Roboto;
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #212121;
    padding-bottom: 10px;
    border-bottom: 1px solid #CDD0E4;
}

.users .user-photo {
    width: 24px;
    height: 24px;
}



.box {
    background-color: #fff;
    position: relative;
}

.box .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calendar {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding-left: 15px; */
    font-size: 14px;
}

.box .data .text {
    width: 260px;
    font-size: 15px;
    /* padding-left: 15px; */
}

.box .data .price {
    width: 260px;
    font-size: 20px;
    /* padding-left: 15px; */
    font-weight: 600;
}

.extra-information .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border: 1px solid #CDD0E4;
    border-radius: 4px;
    font-size: 14px;
    gap: 5px;
}

.extra-information {
    width: 230px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.box .order {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -55px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all .2s linear;
    z-index: 8;
    display: none;

}

.order button {
    width: 242px;
    margin: 0 auto;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    background-color: #707FDA;
    color: #fff;
    border: none;
    border-radius: 6px;

}

.box:hover .order {
    display: flex;
    transition: all .2s linear;
}

.left-arrow {
    position: relative;
}

.side-left {
    position: absolute;
    top: 250px;
    left: -35px;
    z-index: 9;
}

.side-right {
    position: absolute;
    position: absolute;
    top: 250px;
    right: -35px;
    z-index: 9;
}

.right-arrow {
    position: relative;
}

.left-arrow .arrow {
    position: absolute;
    top: 16px;
    left: 20px;
}

.right-arrow .arrow {
    position: absolute;
    top: 16px;
    left: 22px;
}

.bannet {
    width: 100%;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    padding: 0 50px;
    position: relative;
    background-image: url("../templates/images/Header.svg");
    background-size: cover;
    background-position: center;
}

.image {
    position: relative;
    display: flex;
    gap: 2px;
}

.like {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;

}

.LoveHeart {
    width: 16px;
    height: 15px;
    position: absolute;
    top: 1px;
    left: 0;
    padding: 8px;
}

.dots {
    display: flex;
    gap: 1px;
    position: absolute;
    top: 6px;
    left: 3px;

}

.dotted {
    width: 2.82px;
    height: 2.82px;
}


.bannet h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.bannet span {
    width: 548px;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
}

.bannet button {
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
}


.bannet img {
    width: 111px;
    height: 111px;
    position: absolute;
}

.bannet .circle {
    top: 100px;
    right: 100px;
    z-index: 2;
}

.bannet .quadrat {
    top: 40px;
    right: 140px;
}

.loading {
    text-align: center;
    padding: 50px 0;
    color: #757575;
}


footer {
    width: 100%;
    height: 114px;
    background-color: #3F414E;
}


.footer {
    width: 100%;
    height: 114px;
    background-color: #3F414E;
    padding-right: 10px;
}

.footer .top-footer {
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.top-footer nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

.top-footer .influence {
    width: 171px;
    height: 17px;
}

.top-footer a {
    text-decoration: none;
    color: #fff;
}

.top-footer .navlink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-footer {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #fff;
    font-size: 14px;
}





/**********************************/





.properties {
    width: 1239px;
    height: 1515px;
    background-color: #fff;
    margin: 40px 0 92px 151px;
    padding: 30px;
    border-radius: 12px;
}

.details {
    display: flex;
    gap: 30px;
}

.details .aside {
    width: 351px;
    height: 597px;
    border: 1px solid #E9EBF3;
    border-radius: 12px;
    padding: 10px 20px 20px 20px;
}

.aside h3 {
    font-weight: 700;
    font-size: 36px;
}

.aside .det {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #757575;
}

.order-count {
    width: 311px;
    height: 4px;
    background-color: #E1E3F1;
}

.order-count .order-count-item {
    width: 143px;
    height: 4px;
    background-color: #707FDA;
}

.information-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.information-details button {
    width: 311px;
    height: 40px;
    background-color: #707FDA;
    color: #ffffff;
    border-radius: 6px;
    border: none;
}

.inf-details-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    height: 40px;

}

.item-details span {
    height: 20px;
    line-height: 1;
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

.item-details p {
    height: 5px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;

}

.grid-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.properties-image .column-img {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.properties-image {
    display: flex;
    gap: 10px;
}

.main-img {
    width: 728px;
    height: 420px;
    position: relative;
}

.main-img img {
    width: 100%;
    height: 100%;
}

.custom-request {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-request {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom-request {
    width: 798px;
    height: 84px;

}

.top-request span {
    display: flex;
    gap: 7px;
}

.bottom-request h3 {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
}

.left-sides-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-image: url("./image/Ellips.svg");
}

.details-info {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.brand-user {
    width: 798px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #E9EBF3;
    border-radius: 8px;
    padding-left: 10px;
}

.darrel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.darrel span {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #212121;
}

.darrel p {
    font-size: 14px;
    color: #757575;
    height: 8px;
}

.description {
    width: 798px;
    display: flex;
    flex-direction: column;
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #E9EBF3;
}

.details-info h4 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 00.1em;
    color: #212121;
    font-weight: 700;
}

.links-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.brand-links {
    height: 80px;

}

.active {
    background-color: #fff;
}







/**********************/

.aside-extra {
    display: flex;
    gap: 25px;
}

.aside-two {
    width: 351px;
    border: 1px solid #E9EBF3;
    border-radius: 12px;
    padding: 10px 20px 20px 20px;
    height: 1027px;
}

.aside-two h3 {
    font-weight: 700;
    font-size: 36px;
}

.aside-two .det {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #757575;
}

.aside-two h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.1em;
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.social-medias p {
    height: 25px;
}

.account {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account textarea {
    background-color: #F5F5F5;
    color: #9397B2;
    font-size: 15px;
    padding: 5px 10px;
}

.account .btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account button {
    width: 150px;
    height: 40px;
}

.account .close {
    background-color: #F5F5F5;
    color: #757575;
}

.account-item {
    width: 100%;
    height: 60px;
    border: 1px solid #707FDA;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.aside-two form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.aside-two label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;

}

.aside-two label input {
    width: 16px;
    height: 16px;
    position: absolute;
    left: -9999px;
}

.aside-two label input:checked+span:before {
    box-shadow: inset 0 0 0 0.300em #707FDA;
}

.aside-two label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #707FDA;
}









.aside-order {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.aside-details {
    height: 537px;
}

.aside-status {
    width: 351px;
    height: 94px;
    border-radius: 12px;
    border: 1px solid #E9EBF3;
    padding: 20px;
}

.aside-status label {
    color: #757575;
    font-size: 12px;
}

.pending-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    font-size: 14px;

}

.pending-item {
    margin-top: 15px;
}



/**************************/



.sel {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px;
    border: 1px solid #EDEDF7;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
}


.boxes {
    max-width: 298.5px;
    height: 368px;
    background-color: #fff;
    border-radius: 12px;
}

.boxes .user-services {
    height: 40px;
    display: flex;
    justify-content: center;
}

.boxes .text-order {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #212121;
    font-style: normal;

}



.boxes .all-info {
    width: 294px;
    padding: 16px 16px 16px 16px;
    background-color: #fff;
    border-radius: 8px;
}

.channel .social {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

.channel span {
    font-size: 15px;
    font-weight: 400;
}

.boxes .price {
    font-weight: 600;
    font-size: 20px;
}

.boxes .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.boxes .condition {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #9397B2;
    padding: 15px 0;
    margin-top: 5px;
    border-top: 1px solid #E9EBF3;
}

.boxes .condition .right-con {
    display: flex;
    align-items: center;
    gap: 10px;
}


.three-dots {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;
    justify-content: center;
}

.three-dots .dot {
    width: 4px;
    height: 4px;
    background-color: #212121;
    border-radius: 50%;
}

.boxes .user-services-two {
    width: 100;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.unactive {
    width: 101px;
    height: 124px;
    padding: 64px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #707FDA;
    color: #f9f9ff;
    position: relative;
    border-top-right-radius: 10px;
}

.unactive-one {
    width: 101px;
    height: 124px;
    padding: 64px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #707FDA;
    color: #f9f9ff;
    position: relative;
    border-bottom-right-radius: 10px;
}

.navigation .menu-service {
    width: 101px;
    height: 124px;
    padding: 64px 0px;
    gap: 4px;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #707FDA;
    color: #f9f9ff;
    position: relative;

    /* border-radius: 10px; */

}

.navigation .menu-service span {
    font-size: 14px;
    font-family: Roboto;
}


.sort {
    display: flex;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    top: 2px;
    right: 0;
}

.sort #select {
    border: none;

}

.youtube-icon #select {
    border: none;
    padding: 0;
    font-weight: 500;
}

.youtube-icon img {
    width: 14px;
    height: 11px;
}

.youtube-icon {
    border: 1px solid #EDEDF7;
    border-radius: 6px;
    padding: 2.5px 2.5px 2.5px 5px;
}





/* //service-youtube-video********/

.video-player {
    position: absolute;
    top: 45%;
    left: 45%;
}

.video-player .ellips-item {
    width: 63px;
    height: 63px;
    position: relative;
}

.video-player .polygon-item {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 999;
}

.pendings-text label {
    color: #4CAF50;
    padding-left: 5px;
}

.pendings-text {
    background-color: #E9F3EB;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
}

.two-aside {
    height: 110px;
}

.video-details {
    height: 400px;
}

.aside-extra {
    overflow: hidden;
}

.video-details h3 {
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    padding: 10px 0;
}

.user-aside {
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #E9EBF3;
    border-radius: 8px;
    padding: 20px;
}

.youtube {
    margin-top: 7px;
}

.video-prop {
    height: 1112px;
    overflow: hidden;
}

.details-video-info {
    display: flex;
    flex-direction: column;
    padding: 1px 1px;
}

.social-youtube span {
    padding-left: 5px;
}

.service-statistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 213px;
    border-radius: 12px;
    border: 1px solid #E9EBF3;
    padding: 20px;
    overflow: hidden;
}

.service-statistics label {
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-bottom: 5.5px;
}

.statistic-item {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E9EBF3;

}

.statistic-item div {
    font-size: 14px;
    color: #212121;
    font-weight: 500;

}

.statistic-item span {
    font-size: 14px;
    font-weight: 500;
    color: #757575;
}

.extra-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}



/* Order enter */
/************/


.order-operation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9EBF3;
}

.order-item {
    display: flex;
    gap: 30px;
}

.sorts {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: #212121;
}

.sorts #select {
    background: transparent;
    border: none;
}

.order-operation .unactived {
    font-size: 15px;
    color: #757575;
    font-weight: 400;
}

.order-operation .isactived {
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    border-bottom: 1px solid #212121;

}

.order-schedule {
    max-width: 1239px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.order-list {
    width: 100%;
    height: 148px;
    border-radius: 12px;
    background-color: #ffffff;
}

.top-order {
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #E9EBF3;
}

.commentment {
    width: 16px;
    height: 16px;
}

.serve-order {
    display: flex;
    align-items: center;
    gap: 5px;
}

.serve-order label {
    font-size: 14px;
}

.order-type {
    display: flex;
    gap: 5px;
    color: #757575;
}

.order-type div {
    display: flex;
    gap: 3px;
    color: #212121;
    font-weight: 600;
}

.bx .you span{
    font-weight: 600;
}

.left-order-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-order-side label {
    font-size: 14px;
    border-right: 1px solid #E9EBF3;
    padding-right: 15px;
    height: 20px;
}


.left-order-side .Order-name {
    font-weight: 600;
    font-size: 18px;
}

.bottom-order {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.left-bottom-side {
    display: flex;
    gap: 10px;
    padding-right: 25px;
    border-right: 1px solid #E9EBF3;
}

 .service-name {
    max-width: 657px;
    /* height: 47px; */
    display: flex;
    flex-direction: column;
}

 .service-name span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #212121;
}

 .service-name label {
    font-size: 14px;
    color: #757575;
}

.right-bottom-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.right-bottom-side .bx {
    display: flex;
    flex-direction: column;
}

.bx label {
    color: #757575;
    font-size: 14px;
    line-height: 20px;
}

.bx span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #212121;
}

.right-bottom-side .prices {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #212121;
}

.right-order-side {
    display: flex;
    gap: 25px;
}

.left-days {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-days span {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}

.left-days label {
    width: 93px;
    height: 5px;
    background-color: #E1E3F1;
    border-radius: 2px;
}

.left-days p {
    width: 12px;
    height: 5px;
    border-radius: 2px;
    background-color: #61dc43;
    border-radius: 2px;
}

.green-color{
    color: #4CAF50;
}

.yellow-color{
    color: #F5A200;
}

.light-green{
    color: #34BAB2;
}


/**********************************/

.order-content{
    display: flex;
    gap: 30px;
    margin-top: 8px;
}

.order-request-info{
    /* width: 625px; */
    display: flex;
    gap: 20px;
    align-items: center;
    /* margin-bottom: 10px; */
}

.order-request-info h3{
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    line-height: 42px;
    padding-top: 5px;
}

.order-request-info .drop{
    width: 35px;
    height: 35px;
    border: 1px solid #E9EBF3 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.order-request-info label{
    padding-left: 20px;
    border-left: 1px solid #E9EBF3;
}

.order-description{
    width: 858px;
    height: 146px;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
}

.order-left{
    border-right: none;
}

.expand{
    width: 798px;
    height: 40px;
    background-color: var(--backgrounds);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    justify-content: center;
    border:  1px solid var(--extra-three);
}

.left-order-two{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.order-upload{
    width: 858px;
    height: 705px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px 30px 25px 30px;
}

.right-order-two{
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* height: 125px; */
    border-radius: 12px;
  
}

.order-upload h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 14px;
    color: #212121;
}

.youtube-upload{
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #E9EBF3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}


.video-integration{
    display: flex;
    padding: 7px 0 25px 0;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--extra-three);
}

.integrations{
    background-color: #E9EBF3;
    border-radius: 12px;
    height: 80px;
}

.youtube-integration{
    padding-left: 10px;
}

.youtube-upload .icons{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.video-integration label{
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.video-integration .bold{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
}

.url input{
    width: 703px;
    height: 40px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    padding: 11px 15px;
    border-radius: 6px;
}

.url{
    display: flex;
    gap: 10px;
}
.url button{
    color: #fff;
    width: 85px;
    height: 40px;
    background-color: var(--secondary);
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
}

.image-uploads{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video-text{
    font-weight: 700;
    font-size: 14px;
}

.image-uploads label{
    font-size: 12px;
    color: var(--third-color);
    font-weight: 500;
}
.img-uploads{
    display: flex;
    gap: 10px;
}

.image-uploads .add{
    font-size: 14px;
    color: var(--third-color);
}

.image-uploads span{
    font-size: 15px;
    color: var(--third-color);
    font-weight: 400;
}
.click-uploads{
    width: 798px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    gap: 10px;
}

.btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 798px;
    height: 40px;
    background-color: var(--secondary);
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
}
.aside-order{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 5px;
    padding: 20px;
    background-color: #fff;
}
.order-ctn{
    padding-top: 10px;
}

.pos-img{
    position: relative;
}

.belong{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
}


.aside-order .left-days {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside-order .left-days span {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}

.aside-order .left-days label {
    width: 192px;
    height: 5px;
    background-color: #E1E3F1;
    border-radius: 2px;
}

.aside-order .left-days p {
    width: 50px;
    height: 5px;
    border-radius: 2px;
    background-color: #61dc43;
    border-radius: 2px;
}

.order-statistics{
    height: 173px;
     background-color: #fff;
}


.st-item{
    border-bottom: none;
}

.aside-order label{
    font-size: 12px;
    color: var(--third-color);
    letter-spacing: 0.1em;

}

.info-order{
    max-width: 351px;
    height: 510px;
    background-color: #fff;
    padding: 20px;
    margin-top: 0;
    border-radius: 12px;
}
.info-order h3{
    font-size: 12px;
    letter-spacing: 0.1em;
    color: var(--third-color);
}

.info-order-item{
    padding: 0 0 15px 0;
    border-bottom: 1px solid var(--extra-two);
}
.info-order-item .john{
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}